(
    log: (
        debug: false
    ),
    map: (
        height: 32,
        width: 32,
        min_size: 5,
        max_size: 10,
        max_rooms: 50,
        tile_size: 16
    ),
    fov: (
        radius: 10,
        distance: 2
    )
)
